<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new_field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="new_field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="new_field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="new_field">
 <!--    <%= f.label :vote %><br> -->
    <%= f.hidden_field :vote %>
  </div>
  <div class="new_field">
<!--     <%= f.label :hot %><br> -->
    <%= f.hidden_field :hot %>
  </div>
  <div class="create_button">
    <%= f.submit %>
  </div>
<% end %>
