<%= image_tag "logo.png", class:"small_logo" %>

<p id="notice"><%= notice %></p>

<p class="title_text">
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  ​<%= image_tag @picture.url, :class => "center_show" %>
</p>

<p class="center_text">
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>



<p class="fire_pic">

  <% if @picture.hot == true %>
  <img src="http://i.imgur.com/A4HGpmd.png", class="hot_image">
  <% else %>
  <% end %>

  <strong>Votes:</strong>
  <%= @picture.picture_votes.sum :direction %>

</p>
<div class="upvote">
<%= link_to "<button>↑ Upvote ↑</button>".html_safe, picture_upvote_path(@picture), method: :post %>
<%= link_to "<button>↓ Downvote ↓</button>".html_safe, picture_downvote_path(@picture), method: :post %>
</div> 
<!-- <%= link_to "<button>New Comment</button>".html_safe, new_picture_comment_path(@picture) %> -->
<!-- <%= link_to 'Edit', edit_picture_path(@picture) %> -->
<br>
<div class="back_to_front">
<%= link_to "<button>Frontpage</button>".html_safe, pictures_path %>
<%= link_to "<button>Delete</button>".html_safe, @picture, method: :delete, data: { confirm: 'Are you sure?' } %>

<h3 class="center_text">Comments</h3>
	<!-- <p><%= @picture.comments.inspect %> </p> -->
<tbody>
    <% @picture.comments.each do |comment| %>
      <tr>
        <td><%= comment.name %>:</td>
        <td><%= comment.words %></td>
        <br>
        about: <%= time_ago_in_words(comment.created_at) %>
        <br>
        <td><%= comment.vote %></td>
        <!-- <td><%= comment.picture %></td> -->
        <!-- <td><%= link_to 'Show', comment %></td> -->
        <!-- <td><%= link_to 'Edit', edit_comment_path(comment) %></td> -->
        <!-- <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>

<br>


<h3 class="center_text">Create a Comment</h3>
<%= render 'comments/form' %>
