<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  ​<%= image_tag @picture.url %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @picture.vote %>
</p>

<p>
  <strong>Hot:</strong>
  <%= @picture.hot %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
